<body>

<p>Jan Roelofs 2218997</p>

<p>In dit project ga ik leren hoe ik een client side website maak. Omdat wij de vrijheid kregen om zelf een onderwerp te kiezen heb ik er voor gekozen om een website te maken die het aantal uren die een gebruiker heeft gegamed bijhoudt en bij elkaar optelt. Zo kan de website per spel laten zien hoeveel uur gespeeld is, per genre hoeveel gespeeld is, of per studio. Ook wil ik een leaderboard hebben die per spel of genre laat zien wie het meeste gespeeld heeft en een leaderboard van de gebruikers met de meeste totale uren.</p>

<img src="assets/img/HaveTheyTouchedGrass.png" height="300" width="450">

<img src="assets/img/HaveTheyTouchedGrassFR1.png">

<img src="assets/img/HaveTheyTouchedGrassFR2.png">

</body>